* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-weight: 00;
}

/* ------------------------INDEX---------------------- */
/* -----------------------HEADER--------------*/
header img {
    height: 150px;
}

header {
    background-color: #e3e3e3;
}

.navbar-collapse {
    text-align: center;
}

.menu-de-todos {
    background-image: linear-gradient(to top, #a7a4a2, #585858);
}

.nav-k {
    justify-content: flex-end;

}

.logo-titulo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}

.logo-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.titulo-principal {
    font-size: 30px;
    color: #891519;
    text-align: center;
}

.titulo-arriba {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 900;
}

.nav-item a {
    font-weight: 600;
}

.navbar ul li a {
    position: relative;
    display: block;
    margin: 5px;
    color: #fff;
}

.navbar ul li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background: #579d9c;
    transition: .5s;
}

.navbar ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 3px;
    background: #f9557b;
    transition: .5s;
}

.navbar ul li:hover a {
    color: #f9c35e !important;
}

.navbar ul li:hover a::before {
    width: 50%;
    transform: translate(100%);
}

.navbar ul li:hover a::after {
    width: 50%;
    transform: translate(-100%);
}

.container-fluid {
    align-items: center;
}

.menu-bot {
    border: 4px black dotted;
    background-color: #891519;
}

/* -----------------------MAIN--------------------- */
.titulo-secundario {
    background-image: url(https://static.wixstatic.com/media/8a3e6d_0b1e2bf057fa4d78a69db402aa6a7846.jpg/v1/fill/w_1903,h_889,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/8a3e6d_0b1e2bf057fa4d78a69db402aa6a7846.jpg);
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 280px;
    padding-bottom: 200px;
}

.titulo-secundario h2 {
    font-size: 60px;
    font-weight: 850;
}

.titulo-secundario h3 {
    font-size: 50px;
    font-weight: 650;
}

.servicios-index {

    display: flex;
    justify-content: center;
    background-color: rgb(206, 32, 38);
    color: white;
    align-items: center;

}

.titulo-mecanica {
    font-size: 20px;

}

.titulo-mecanica-index {
    display: flex;
    flex-direction: column;

}

.titulo-accesorios {
    font-size: 20px;
}

.titulo-accesorios-index {
    display: flex;
    flex-direction: column;
    border-right: 2px solid rgb(255, 255, 255);
    border-left: 2px solid rgb(255, 255, 255);
    margin: 20px;
    padding: 20px;

}

.titulo-reparacion {
    font-size: 20px;
}

.titulo-reparacion-index {
    display: flex;
    flex-direction: column;
}

.ven-visitanos {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    height: 350px;
}

.ven-visitanos img {
    width: 300px;
    height: 250px;
    margin: 50px;

}

.visitanos {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.visitanos p {
    max-width: 300px;
}

.que-ofrecemos-principal {
    background-color: rgb(227, 227, 227);
    ;
}

.titulo-te-ofrecemos {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 120px;
    justify-content: space-evenly;
    max-width: 1000px;
    margin: auto;
}

.titulo-te-ofrecemos h3 {
    font-size: 30px;
    padding-bottom: 20px;
}

.que-ofrecemos {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 40px;
}

.que-ofrecemos img {
    width: 50px;
    height: 50px;
}

.ubicacion .ubicacion-index {
    width: 100px;
    height: 80px;
}

.ubicacion {
    display: flex;
    max-width: 300px;
    flex-direction: column;
    align-items: center;
}

.ubicacion span {
    padding-top: 20px;
    padding-bottom: 20px;
}

.ubicacion p {
    max-width: 200px;
    text-align: center;
}

.pesos {
    display: flex;
    max-width: 300px;
    flex-direction: column;
    align-items: center;
}

.pesos span {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pesos p {
    max-width: 200px;
    text-align: center;
}

.estrella {
    display: flex;
    max-width: 300px;
    flex-direction: column;
    align-items: center;
}

.estrella span {
    padding-top: 20px;
    padding-bottom: 20px;
}

.estrella p {
    max-width: 200px;
    text-align: center;
}

.marcas-calidad {
    text-align: center;
    padding-top: 90px;
    padding-bottom: 90px;
}

.marcas-calidad h3 {
    font-size: 25px;
}

.marcas-calidad img {
    padding-top: 40px;
}

.antes-de-footer {
    background-color: rgb(76, 76, 76);
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

.footer1 {
    padding-top: 50px;
    display: flex;
    max-width: 250px;
    flex-direction: column;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 40px;
}

.footer1-experiencia {
    padding-bottom: 30px;
}

.footer2 {
    padding-top: 50px;
    display: flex;
    max-width: 300px;
    flex-direction: column;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 90px;
    margin-left: 120px;
}

.footer2-servicios {
    padding-bottom: 30px;
}

.footer3 {
    padding-top: 50px;
    display: flex;
    max-width: 300px;
    flex-direction: column;
    padding-bottom: 50px;
    padding-left: 30px;
}

.footer3-visitanos {
    padding-bottom: 30px;
}

.antes-de-footer1 img {
    width: 20px;
}

.antes-de-footer1 {
    background-color: rgb(206, 32, 38);
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
}

.telefono {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.carta-simb {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    border-right: 2px solid rgb(255, 255, 255);
    border-left: 2px solid rgb(255, 255, 255);
    margin: 20px;
    padding: 20px;
    padding-left: 70px;
    padding-right: 70px;

}

.carta-simb a {
    text-decoration: none;
    color: white;
}

.hora-simb {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

/* -------------------------- FOOTER ---------------------- */
.footer {
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 0px;
}

/* -------------------------------------------- page sobre nosotros------------------------------------- */
.nosotros-experiencia {
    padding-top: 100px;
    padding-bottom: 100px;

}

.nosotros-experiencia img {
    width: 350px;
    height: 300px;
    padding: 5px;
}

.nosotros-experiencia h2 {
    text-align: center;
    padding-bottom: 70px;
}

.nosotros-parrafo {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    text-align: center;
    align-items: center;
    padding: 10px;
    margin-left: 230px;
}

.nosotros-parrafo p {
    padding-bottom: 20px;
}

.nosotros-parrafo span {
    padding-bottom: 20px;
}

.nosotros-parrafo a {
    background-color: rgb(206, 32, 38);
    padding-top: 10px;
    text-decoration: none;
    color: black;
    max-width: 150px;
}

/*------------------------------GRID------------------ */
.grid-padre {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
    grid-template-areas:
        "arriba1 arriba1 arriba1 arriba1"
        "izquierda1 medio1 medio1 derecha1"
        "izquierda1 medio1 medio1 derecha1"
        "abajo1 abajo1 abajo1 abajo1";
}

.medio1 {
    grid-area: medio1;

}

.arriba1 {
    grid-area: arriba1;
    padding-left: 65px;
}

.izquierda1 {
    grid-area: izquierda1;
    padding-left: 65px;
}

.derecha1 {
    grid-area: derecha1;
    padding-left: 55px;
}

.abajo1 {
    grid-area: abajo1;
    padding-left: 65px;
}

/* --------------------------- page servicios-------------------- */
.que-servicios-necesitas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 90px;
}

.que-servicios-necesitas p {
    max-width: 800px;
    padding-top: 20px;
    text-align: center;
}

.servicios-completos img {
    height: 60px;
    width: 60px;
}

.parte1 {
    display: flex;
    padding-bottom: 100px;
    justify-content: space-evenly;
}

.parte1 p {
    max-width: 300px;
}

.martillo-llave {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.revision-simb {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aceite-simb {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parte2 {
    display: flex;
    padding-bottom: 100px;
    justify-content: space-evenly;

}

.parte2 p {
    max-width: 300px;
}

.remolque {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.neumaticos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bateria {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactanos {
    text-align: center;
    padding-bottom: 30px;
}

.contactanos a {
    text-decoration: none;
    color: white;
    background-color: rgb(206, 32, 38);
    padding: 10px;
}

/* -----------------------------------------page seguros------------------------------- */
.titulo-seguros {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.parte3 {
    display: flex;
    padding-bottom: 30px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.parte4 {
    display: flex;
    padding-bottom: 30px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

/* --------------------------------- page contacto--------------------- */
.titulo-contacto {
    text-align: center;
    padding-top: 120px;
    text-decoration: underline #585858;
}

.maps {
    text-align: center;
    background-color: rgb(212, 208, 208);
}

.formulario {
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 80px;
}

.form {
    display: flex;
    padding: 50px;
    border: 10px rgb(61, 20, 20) dashed;

}

.form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.info {
    flex-direction: column;
    padding: 50px;
    border: 10px dotted rgb(61, 20, 20);
}

.mapa {
    max-width: 100%;
}

.boton-envi {
    background-color: rgb(206, 32, 38);
    color: white;
    font-size: 14px;
    padding: 10px 50px 10px 50px;
    margin-top: 10px;
}

/* ---------------------------------------MQ------------------------------------------------------- */
/* ------------------------------MOBILE LAST-------------------------------------------------------------------- */
/* ------------------------PAGE SOBRE NOSOTROS-------------- */
/* inicio mq 1440 */
@media (max-width: 1440px) {
    .nosotros-experiencia img {
        width: 250px;
        height: 150px;
        padding: 5px;
    }

    .nosotros-parrafo {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        text-align: center;
        align-items: center;
        padding-bottom: 0px;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 100px;
    }

    .derecha1 {
        padding-left: 0;
    }

    /* --------------------------------PAGE SEGUROS------------------------- */

    .parte3 img {
        width: 190px;
        height: 115px;
    }

    .parte4 img {
        width: 190px;
        height: 115px;
    }

    /* ------------------------------------------page contacto------------ */
    .mapa {
        height: 400px;
        width: 80%;
        padding-bottom: 20px;
    }
}

/* fin de mq  1440px */

/* inicio mq 1024------------------------------------------------ */
/* pagge sobre nosotros----------------------------------- */
@media (max-width: 1024px) {
    .nosotros-experiencia img {
        width: 200px;
        height: 140px;
        padding: 1px;
    }

    .izquierda1 {
        padding-left: 15px;
    }

    .derecha1 {
        padding-left: 45px;
    }

    .nosotros-parrafo {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        text-align: center;
        align-items: center;
        padding-bottom: 0px;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        font-size: 15px;
    }

    .arriba1 {
        padding-left: 3px;
    }

    .abajo1 {
        padding-left: 3px;
    }

    /* page seguros ---------------------------------- */
    .parte3 img {
        width: 150px;
        height: 100px;
    }

    .parte4 img {
        width: 150px;
        height: 100px;
    }

    /* HEADER ------------------------------------------ */
    .link a {
        font-size: 14px;
    }

    .titulo-arriba span {
        font-size: 18px;
    }

    header img {
        height: 130px;
        width: 180px;
    }
}

/* ------------- MAXIMO 768 PX ----------------------- */
@media (max-width: 768px) {

    /* ----------------index----------------------- */
    .titulo-arriba {
        font-size: 20px;
    }

    .container-fluid {
        flex-direction: column;
    }

    .menu-bot {
        margin-bottom: 15px;
    }

    .marcas-calidad img {
        padding-top: 40px;
        width: 350px;
        height: 250px;
    }

    .titulo-secundario {
        color: rgb(255, 255, 255);
        text-align: center;
        padding-top: 58px;
        padding-bottom: 66px;
    }

    .titulo-secundario h2 {
        font-size: 40px;
        font-weight: 850;
    }

    .titulo-secundario h3 {
        font-size: 30px;
        font-weight: 650;
    }

    .titulo-mecanica {
        font-size: 15px;
    }

    .titulo-mecanica-index span {
        font-size: 13px;
    }

    .titulo-accesorios {
        font-size: 15px;
    }

    .titulo-accesorios-index span {
        font-size: 13px;
    }

    .titulo-reparacion {
        font-size: 15px;
    }

    .titulo-reparacion-index span {
        font-size: 13px;
    }

    h2 {
        font-size: 25px;
    }

    p {
        font-size: 15px;
    }

    .titulo-te-ofrecemos {
        padding: 80px;
        margin: 0;
    }

    .titulo-te-ofrecemos h3 {
        font-size: 25px;
        font-weight: 700px;
        padding-bottom: 15px;
    }

    .titulo-te-ofrecemos p {
        font-size: 18px;
    }

    .ubicacion {
        max-width: 600px;
    }

    .ubicacion p {
        max-width: 600px;
    }

    .que-ofrecemos {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 40px;
        flex-direction: column;
        align-items: center;
    }

    .que-ofrecemos img {
        width: 70px;
        height: 70px;
    }

    .pesos {
        max-width: 600px;
    }

    .pesos p {
        max-width: 600px;
    }

    .estrella {
        max-width: 600px;
    }

    .estrella p {
        max-width: 600px;
    }

    .marcas-calidad {
        text-align: center;
        padding-top: 28px;
        padding-bottom: 26px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .telefono {
        padding-right: 0px;
    }

    .carta-simb {
        padding-left: 20px;
        padding-right: 20px;
    }

    .carta-simb {
        padding-left: 20px;
    }

    .footer1 {
        padding-top: 0px;
        max-width: 300px;
        padding-left: 50px;
        padding-right: 40px;
    }

    .footer2 {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 0px;
        padding-right: 20px;
        margin-left: 40px;
    }

    /* -------------------------------page sobre nosotros---------------------------- */
    .grid-padre {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .arriba1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .arriba1 img {
        margin: 6px;
    }

    .izquierda1 {
        padding-right: 100px;
        padding-bottom: 20px;
    }

    .izquierda1 img {
        padding-left: 0px;
        margin-top: 10px;
        margin-left: 80px;
    }

    .nosotros-parrafo {
        padding-bottom: 30px;
    }

    .derecha1 {
        padding-right: 100px;
        padding-bottom: 20px;
    }

    .derecha1 img {
        padding-left: 0px;
        margin-top: 10px;
        margin-left: 80px;
    }

    .abajo1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .abajo1 img {
        margin: 6px;
    }

    /* -----------------------page servicios ------------------------------- */
    .servicios-completos img {
        height: 100px;
        width: 100px;
    }

    .que-servicios-necesitas {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .que-servicios-necesitas p {
        max-width: 580px;
        padding-top: 20px;
        text-align: center;
    }

    .parte1 {
        text-align: center;
        padding-bottom: 30px;
        flex-direction: column;
        align-items: center;
    }

    .parte1 p {
        margin-top: 10px;
        max-width: 580px;
    }

    .parte2 {
        text-align: center;
        padding-bottom: 30px;
        flex-direction: column;
    }

    .parte2 p {
        margin-top: 10px;
        max-width: 580px;
    }

    /* ----------------------page seguros----------------------- */
    .parte3 {
        flex-direction: column;
        align-items: center;
    }

    .parte3 img {
        width: 350px;
        height: 200px;
    }

    .parte4 {
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
    }

    .parte4 img {
        width: 350px;
        height: 200px;
    }

    /* --------------------- PAGE CONTACTO---------------- */

    h1 {
        font-size: 30px;
    }

    .info {
        padding: 10px;
        border: 10px dotted rgb(61, 20, 20);
        margin-bottom: 80px;
    }

    .form {
        padding: 10px;
    }

    .formulario {
        flex-direction: column;
    }

    .mapa {
        height: 400px;
        width: 80%;
        padding-bottom: 40px;
    }
}

/* ---------------------MAXIMO 425 PX---------------------- */

@media (max-width: 425px) {
    .servicios-index {
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 20px;

    }

    .titulo-accesorios-index {
        border-top: 2px solid rgb(255, 255, 255);
        border-bottom: 2px solid rgb(255, 255, 255);
        border-left: 0;
        border-right: 0;
    }

    .titulo-mecanica-index .titulo-mecanica {
        font-size: 20px;
        text-align: center;
    }

    .titulo-mecanica-index span {
        font-size: 15px;
    }

    .titulo-accesorios-index .titulo-accesorios {
        font-size: 20px;
        text-align: center;
    }

    .titulo-accesorios-index span {
        font-size: 15px;
        text-align: center;
    }

    .titulo-reparacion-index .titulo-reparacion {
        font-size: 20px;
        text-align: center;
    }

    .titulo-reparacion-index span {
        font-size: 15px;
        text-align: center;
    }

    .ven-visitanos {
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

    .visitanos {
        padding-top: 20px;

    }

    .ven-visitanos img {
        width: 300px;
        height: 250px;
        margin: 0;
    }

    .titulo-te-ofrecemos {
        padding: 25px;
    }

    .ubicacion p {
        max-width: 350px;
    }

    .pesos p {
        max-width: 350px;
    }

    .estrella p {
        max-width: 350px;
    }

    .que-ofrecemos {
        padding: 0;
    }

    .antes-de-footer1 {
        flex-direction: column;
    }

    .telefono {
        text-align: center;
        padding-bottom: 0px;
    }

    .telefono div {
        margin-bottom: 10px;
    }

    .carta-simb {
        border-right: 0px;
        border-left: 0px;
        border-top: 2px solid rgb(255, 255, 255);
        border-bottom: 2px solid rgb(255, 255, 255);
        padding-left: 80px;
        padding-right: 80px;
    }

    .carta-simb div {
        margin-bottom: 10px;
    }

    .hora-simb {
        padding-top: 0px;
    }

    .hora-simb div {
        margin-bottom: 10px;
    }

    .antes-de-footer {
        flex-direction: column;
        align-items: center;
    }

    .footer1-experiencia {
        padding-top: 5px;
        padding-bottom: 10px;
    }

    .footer1 {
        padding: 15px;
        max-width: 350px;
        text-align: center;
        border-bottom: 1px white solid;
    }

    .footer2 {
        border-bottom: 1px white solid;
        padding-left: 100px;
        padding-right: 100px;
        margin: 0px;
        max-width: 350px;
    }

    .footer3 {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0px;
    }

    .footer3-visitanos {
        text-align: center;
    }

    /* ---------------------------- PAGE SOBRE NOSOTROS-------------- */
    .arriba1 img {
        height: 280px;
        width: 370px;
        padding: 0;
        margin: 5px;
    }

    .arriba1 {
        padding-left: 0px;
    }

    .izquierda1 img {
        height: 280px;
        width: 370px;
        margin-left: 0px;
    }

    .izquierda1 {
        padding-right: 0px;
        padding-left: 0px;
    }

    .nosotros-parrafo {
        max-width: 340px;
    }

    .derecha1 {
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 30px;
    }

    .derecha1 img {
        height: 280px;
        width: 370px;
        margin-left: 0px;
    }

    .abajo1 img {
        height: 280px;
        width: 370px;

    }

    /* -----------------------PAGE SERVICIOS--------------- */
    .que-servicios-necesitas p {
        max-width: 380px;
    }

    .parte1 p {
        max-width: 380px;
    }

    .parte2 p {
        max-width: 380px;
    }
}

/* ------------MAXIMO 375 PX ------------------ */
@media (max-width: 375px) {

    /* ---------------page sobre nosotros------------- */
    .nosotros-experiencia h2 {
        max-width: 370px;
    }

    .arriba1 img {
        height: 220px;
        width: 320px;
    }

    .izquierda1 {
        padding-left: 20px;
    }

    .izquierda1 img {
        height: 220px;
        width: 320px;
        margin-left: 10px;
    }

    .derecha1 img {
        height: 220px;
        width: 320px;
        margin-left: 10px;
    }

    .derecha1 {
        padding-left: 20px;
    }

    .abajo1 img {
        height: 220px;
        width: 320px;
        margin-left: 10px;
    }

    /* ------------------------- PAGE SEGUROS ------------------- */
    .titulo-seguros {
        max-width: 360px;
    }
}

    /* ------------------MAXIMO 320PX --------------- */
 @media (max-width: 320px){ 

        /* --------------------- PAGE INDEX----------- */
         .ven-visitanos img {
            width: 250px;
            height: 200px;
        }

        .marcas-calidad h3 {
            max-width: 280px;
        }

        .marcas-calidad img {
            width: 250px;
            height: 200px;
        } 

        /* --------------------- PAGE SOBRE NOSOTROS --------------------*/
         .arriba1 img {
            width: 250px;
            height: 200px;
        }

        .izquierda1 img {
            width: 250px;
            height: 200px;
            margin-left: 0px;
        }

        .izquierda1 {
            padding-left: 30px;
        }

        .derecha1 img {
            width: 250px;
            height: 200px;
            margin-left: 20px;
        }

        .abajo1 img {
            width: 250px;
            height: 200px;
        }

        .nosotros-parrafo p {
            max-width: 280px;
        }

        .nosotros-parrafo span {
            max-width: 280px;
        }

        .abajo1 img {
            margin-left: 0px;
            margin-right: 0px;
        } 

        /* ---------------------- PAGE SERVICIOS -------------- */
        h2 {
            text-align: center;
        }

        .parte1 p {
            max-width: 280px;
        }

        .parte2 p {
            max-width: 280px;
        }

        .parte3 img {
            width: 250px;
            height: 200px;
        }

        .parte4 img {
            width: 250px;
            height: 200px;
        } 

        /* -------------------- PAGE CONTACTO ---------------- */
         h1 {
            font-size: 25px;
        }

        h3 {
            font-size: 20px;
        }

        .info {
            padding: 10px;
            border: 5px dotted rgb(61, 20, 20);
        }

        .form {
            border: 5px rgb(61, 20, 20) dashed;
        } 
    }